<% include includes/navbar.ejs %>
<div class="bootstrap-iso">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 card">

                <!-- Form code begins -->
                <form method="post">
                    <div class="form-group"> <!-- Date input -->
                        <label class="control-label" for="date">Titulo</label>
                        <input class="form-control" id="" name="title" placeholder="Titulo" type="text"/>
                        <label class="control-label" for="date">Día</label>
                  
                        <select class="form-control" id="sel1">
                          <option>1</option><option>2</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option>
                          <option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option><option>23</option><option>24</option><option>25</option><option>26</option><option>27</option><option>28</option><option>29</option>
                          <option>30</option><option>31</option>
                        </select>
                  
                        <label class="control-label" for="date">Mes</label>
                        <select class="form-control" id="sel1">
                          <option>1</option><option>2</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option>
                        </select>
                        <label class="control-label" for="date">Año</label>
                      
                        <select class="form-control" id="sel1">
                          <option>2020</option><option>2019</option><option>2018</option><option>2017</option>
                        </select>
                        <label class="control-label" for="date">Descripción</label>
                        <textarea class="form-control" id="exampleTextarea" name="description" rows="3"></textarea>
                    </div>
                    <div class="form-group"> <!-- Submit button -->
                        <button class="btn btn-primary " name="submit" type="submit">Guardar</button>
                    </div>
                </form>
                <!-- Form code ends -->

            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            var date_input=$('input[name="date"]'); //our date input has the name "date"
            var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
            var options={
                format: 'mm/dd/yyyy',
                container: container,
                todayHighlight: true,
                autoclose: true,
            };
            date_input.datepicker(options);
        })
    </script>


<% include includes/footer.ejs %>