<% include includes/navbar.ejs %>
<div class="bootstrap-iso">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="alert alert-success">
                  <strong>Success!</strong> Evento eliminado correctamente.
              </div>
            </div>
            <div class="col-md-6 col-md-offset-5">
              <a href="/calendar" type="button" class="btn btn-success btn-lg">Volver a Calendar</a>
            </div>
        </div>
    </div>


<% include includes/footer.ejs %>