<% include includes/navbar.ejs %>
<br>
<br>
<br>
<br>
<div class="container">

    <div class="col-md-4 col-md-offset-1 card">
        <form class="form-signin" method="POST" action="/registro">
            <h2 class="form-signin-heading">Registro</h2>
            <input type="nick" id="nick" class="form-control" name="name" placeholder="Nick" required autofocus>
            <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
            <button class="btn btn-danger btn-lg btn-primary btn-block" type="submit">Sign up</button>
        </form>
    </div>

    <div class="col-md-4 col-md-offset-2 card">
        <form class="form-signin" method="POST" action="/login">
            <div class="col-md-4">
                <h2 class="form-signin-heading">Login</h2>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <a href="/login/twitter"><button style="margin-top:20px;" type="button" class="btn btn-info"><i class="fa fa-twitter" aria-hidden="true"></i></button></a>
                <a href="/login/github"><button style="margin-top:20px;" type="button" class="btn btn-warning"><i class="fa fa-github" aria-hidden="true"></i></button></a>
            </div>
            <input type="nick" id="nick" class="form-control" name="name" placeholder="Nick" required autofocus>
            <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
            <button class="btn btn-success btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
        <br>
        <div class="alert alert-danger">
            <strong>ERROR!</strong> Algo ha sucedido mal.
        </div>
    </div>

</div> <!-- /container -->

<% include includes/footer.ejs %>